<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title><%= title %></title>
    <style>
        .ui.container {
            max-width: 750px !important;
        }
    </style>
</head>

<body>
    <% if(tab === 'home') {%>
    <div class="ui container small secondary menu" style="padding-top: 10px;">
        <a class="item <%= tab === 'home' && 'active'%>" href="/">
            Home
        </a>
        <!-- <a class="item">
          Browse
        </a> -->
        <div class="right menu">
            <div class="item" style="padding: 0;">
                <form action="/search/" method="GET" class="ui icon input">
                    <input type="text" name="q" placeholder="Search...">
                    <i class="search link icon"></i>
                </form>
            </div>
        </div>
    </div>
    <% } %>